meta(name="title", content=common.title)
meta(name="description", content=common.description)

meta(property="og:type", content="website")
meta(property="og:url", content=common.canonical)
meta(property="og:title", content=common.title)
meta(property="og:description", content=common.description)
meta(property="og:image", content=`${common.canonical}img/ogp/fb.png`)

meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:url", content=common.canonical)
meta(property="twitter:title", content=common.title)
meta(property="twitter:description", content=common.description)
meta(property="twitter:image", content=`${common.canonical}img/ogp/tw.png`)
