.customers__table
  .customers__head
    each item in list.head
      p.customers__head__text #{item}

  ul.customers__list
    each item in list.items
      li.customers__item
        .customer
          p.customer__text #{item.name}
          p.customer__text #{item.company}
          p.customer__text #{item.number}
          p.customer__text #{item.email}
          p.customer__text #{item.country} 
          p.customer__status(class={"customer__status--active": item.isActive}) 
            if item.isActive 
              | #{list.status_text.active}
            else 
              | #{list.status_text.inactive}
